<h2>Edit recipes:</h2>

<form action='/recipes/{{this.id}}?_method=put' method='POST'>
    <p>
        <label for='title'>Title:</label>
        <input type='text' value='{{title}}' name='title'>
    </p>
    <p>
        <label for='description'>Description:</label>
        <input type='text' value='{{description}}' name='description'>
    </p>
    <p>
        <label for='instructions'>Instructions:</label>
        <input type='text' value='{{instructions}}' name='instructions'>
    </p>
    <p>
        <label for='Ingredients'>Ingredients:</label>
        <input type='text' value='{{ingredients}}' name='Ingredients'>
    </p>
    <input type='submit' value='Update'>
</form>